* @mariiafilipets-collab

# Critical areas
/contracts/ @mariiafilipets-collab
/backend/ @mariiafilipets-collab
/frontend/ @mariiafilipets-collab
/.github/ @mariiafilipets-collab
/ops/ @mariiafilipets-collab
